@using PeopleManager.Model
@model Person

@{
    Person p = Model;
}
<tr>
    <td>@p.FirstName</td>
    <td>@p.LastName</td>
    <td><a href="mailto:@p.Email">@p.Email</a></td>
    <td>
        @if (p.Organization != null)
        {
            @p.Organization.Name
        }
        else
        {
            @: No organization assigned.;
        }
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@p.Id" class="btn btn-primary">Edit</a> |
        <a asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger">Delete</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@Model.Id" data-name="@p.FirstName @p.LastName" data-mode="delete">Delete with modal</button>
</tr>

